.outer-container {
    min-height: 30rem;
    width: 580px;
    margin: 20px auto;
    border: 1px solid gray;
}

.form {
    margin: 30px 70px;
}

.form-field {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 10px 0px;
}