.header {
    display: flex;
    justify-content: space-between;
    padding: 10px;
    background: skyblue;
}
.startup-container {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.startup-dialog {
    border: 1px solid darkgray;
    width: 30rem;
    height: 30rem;
}


button {
    cursor: pointer;
}
.styled-buttons{
    padding: 8px 20px;
    margin: 4px 10px;
    border-radius: 4px;
    min-width: 8rem;
    background: rgb(255, 255, 253);
}
.styled-buttons:hover {
    background: rgb(165, 215, 235);
}