:root {
  --primary-color: rgb(165, 215, 235);
  --secondary-color: skyblue;
  --button-text-color: black;
}

.App {
  text-align: center;
}

button {
  cursor: pointer;
}
.styled-buttons{
  padding: 8px 20px;
  margin: 4px 10px;
  border-radius: 4px;
  min-width: 8rem;
  color: var(--button-text-color);
  background: rgb(255, 255, 253);
}
.styled-buttons:hover {
  background: var(--primary-color);
}
.styled-buttons:disabled {
  pointer-events: none;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  background: var(--secondary-color);
}